body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #3c4043;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}
button:focus {
	outline: none;
}

.main {
	margin: 60px 80px;
	display: flex;
	align-items: flex-end;
}
